
<p><i>
Deadband Labs is an open source hardware initiative, hacking the boundaries between digital and physical to reimagine motion itself.
</i></p>

<hr />
<ul class="fa-ul main-list">
 <li class="main-list-item">
    <span class="fa fa-globe fa-lg main-list-item-icon"></span>
    <a href="https://deadband.dev">deadband.dev</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/deadbandlabs">github.com/deadbandlabs</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-bolt fa-lg main-list-item-icon"></span>
    <a href="https://hackaday.io/deadband">hackaday.io/deadband</a>
  </li>
</ul>

